{% extends "APIRestBundle::layout.html.twig" %}

{% block title %}
    Vue Idée - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <h2>{{ idea.title }}</h2>
    <i>Par {{ idea.user.nom }} {{ idea.user.prenom }}, le {{ idea.dateDepot|date('d/m/Y à H:i') }}</i>
    <br>
    <b>Catégorie :</b> {{ idea.domaine.libelle }}

    <div class="well">
        {{ idea.text }}
    </div>

    <p>
        <a href="{{ path('api_rest_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        <a href="{{ path('api_rest_edit', {'id': idea.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier l'annonce
        </a>
        <a href="{{ path('api_rest_delete', {'id': idea.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer l'annonce
        </a>
    </p>

{% endblock %}