{# src/APIRestBundle/Resources/views/Default/index.html.twig #}

{% extends "APIRestBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <h2>Liste des idées</h2>

    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore !) d'idées</li>
        {% endfor %}
    </ul>

    <ul>
        {% for user in listUsers %}
            <li>{{ user.nom }} {{ user.prenom }}</li>
        {% endfor %}
    </ul>

{% endblock %}


